<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body class="m-0 p-0 box-border">
    <%- include('./partials/navbar.ejs') %>
    
    <div class="container">
        <% if(locals.blog) { %>
            <div class="blog">
                <h1><%= blog.title %></h1>
                <pre><%= blog.content %></pre>
            </div>
            <div class="author">
                <h2>Author</h2>
                <%= blog.createdBy.name %>
            </div>
        <% } %>

        <% if (locals.user && locals.user._id.toString() === blog.createdBy._id.toString()) { %>
            <form action="/blog/<%= blog._id %>?_method=DELETE" method="POST" onsubmit="return confirm('Are you sure you want to delete this blog?');">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        <% } %>

        <br><br>

        <div class="comments">
            <h1>Comments (<%= comments.length %>)</h1>
            <% comments.forEach(comment => { %>
                <div class="comment">
                    <strong><%= comment.createdBy.name %>:</strong> 
                    <pre><%= comment.content %></pre>

                    <% if(locals.user && locals.user._id.toString() === comment.createdBy._id.toString()) { %>
                        <form action="/blog/comment/<%= comment._id %>?_method=DELETE" method="post" onsubmit="return confirm('Are you sure you want to delete this comment?');">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    <% } %>
                </div>
            <% }) %>

            <% if (locals.user) { %>
                <form action="/blog/comment/<%= blog._id %>" method="post">
                    <input type="text" name="content" required />
                    <button type="submit">Add</button>
                </form>
            <% } %>
        </div>
    </div>
</body>
</html>